h1 {
  text-emphasis-color: #84482d;
  text-align: center;
}
p {
  font-size: 18px;
  line-height: 1.5;
  text-emphasis-color: #1c1d1f;
}

.image-container {
  display: flex;
  justify-content: space-around;
  border: 2px solid #be6841;
  padding: 20px;
}

img {
  width: 300px;
  margin: 10px;
}
